:root {
  --height-header: 3.5rem;
}

.header {
  height: var(--height-header);
  padding: 0rem 1.25rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 4px 8px -8px rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.header__left {
  display: flex;
  flex: .5;
  align-items: center;
  justify-content: space-evenly;
}

.header__input {
  min-width: 240px;
  margin-left: .75rem;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  border-radius: 999px;
}
.header__input > .MuiSvgIcon-root {
  position: absolute;
  top: .5rem;
  left: .75rem;
  opacity: .5;
}
.header__input > input {
  padding: .75rem 1rem .65rem 2.5rem;
  font-size: medium;
  font-weight: 200;
}
.header__input > input::placeholder {
  opacity: .5;
}

.header__middle {
  display: flex;
  flex: 1;
  justify-content: center;
}

.header__option {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: .25rem 0;
}
.header__option:hover:not(.header__option--active) {
  background-color: #eff2f5;
  border-radius: .75rem;
  border-bottom: none;
}

.header__right {
  padding: .25rem 0;
  display: flex;
  flex: .5;
}

.header__info {
  margin-right: .75rem;
  display: flex;
  align-items: center;
}

.header__left > img {
  height: 2.5rem;
}

.header__input > input {
  background-color: transparent;
  border: none;
}

.header__option > .MuiSvgIcon-root {
  color: grey;
}
.header__option:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__option--active {
  border-bottom: 4px solid #2e81f4;
  margin: 0;
}
.header__option--active > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__info > h4 {
  margin-left: .75rem;
}
