:root {
  --height-header: 3.5rem;
}

.Oheader {
  height: var(--height-header);
  padding: 0rem 1.25rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0px 4px 8px -8px rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.Oheader__middle {
  display: flex;
  flex: 1;
  justify-content: center;
}


.header__right {
  padding: .25rem 0;
  display: flex;
  flex: .5;
}

.header__info {
  margin-right: .75rem;
  display: flex;
  align-items: center;
}

.header__info > h4 {
  margin-left: .75rem;
}
