.login {
  height: 100vh;
  display: grid;
  place-items: center;
}
.login > button {
  width: 19rem;
  background-color: #2e81f4;
  color: white;
  font-weight: 800;
  border-radius: .5rem;
}
.login > button:hover {
  background-color: #166fe5;
}

.login__logo {
  display: flex;
  flex-direction: column;
}
.login__logo > img {
  object-fit: contain;
  height: 9rem;
}
