.post {
  margin-top: 1rem;
  width: 100%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 4px 8px -8px rgba(0, 0, 0, 0.75);
}

.post__header {
  margin-bottom: .75rem;
  padding: .75rem 1rem 0 1rem;
  display: flex;
  align-items: center;
  position: relative;
}
.post__header > .MuiAvatar-root {
  margin-right: .5rem;
}

.post__headerInfo {
  display: flex;
  flex-direction: column;
}
.post__headerInfo > .post__username {
  margin-bottom: .25rem;
  font-weight: 600;
}
.post__headerInfo > .post__timestamp {
  font-size: small;
  color: grey;
}

.post__content {
  margin-bottom: .75rem;
}
.post__content > p {
  padding: .25rem 1rem 1rem 1rem;
}
.post__content > img {
  width: 100%;
}

.post__options {
  margin: 0 1rem .625rem 1rem;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  color: grey;
}

.post__option {
  height: 2rem;
  margin: .375rem .125rem;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.post__option:hover {
  background-color: #eff2f5;
  border-radius: .25rem;
}
.post__option > span {
  margin-left: .5rem;
}
