.sidebarRow {
  padding: .5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.sidebarRow:hover {
  background-color: lightgrey;
  border-radius: .75rem;
}

.sidebarRow > h4 {
  margin-left: 1.25rem;
  font-size: .9rem;
  font-weight: 500;
}
.sidebarRow > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #2e81f4;
}
