.story {
  height: 12.5rem;
  width: 7.5rem;
  margin-right: .75rem;
  position: relative;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: .75rem;
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, .75);
  cursor: pointer;
  transition: background-size 100ms ease-in;
}
.story:hover{
  background-size: 102%;
}
.story:last-child{
  margin: 0;
}

.story__avatar {
  position: absolute;
  top: .75rem;
  left: .75rem;
}
.story__avatar--unseen {
  border: 4px solid #2e81f4;
}

.story > h4 {
  padding: .75rem;
  position: absolute;
  bottom: 0;
  color: white;
}
